# in production environments, it's recommended not to use the latest version instead, you have to use a specific version "if it was the latest!"
# As Docker will not notice the change if the latest version has changed unless you invalidate the cache!
Flask